@model Models.Network[]

@{
    ViewData["Title"] = "Netwerken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Dashboard/StyleSheet.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

</head>
<body>
    <div>
        <button id="newNetworkBtn" class="btn btn-primary btn-dark create-button">Create network</button>
    </div>
    @{
        foreach (var @network in Model)
        {
            <div class="box">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header bg-dark text-light">
                            <img class="netwerk-afbeelding" src="~/uploadedimages/@network.ImageID" />
                            @network.NetworkName
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Description: </span>
                                </div>
                                <p class="form-control card-text">@network.Description</p>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Members: </span>
                                </div>
                                <p class="form-control card-text">@network.UserCount / @network.MemberLimit</p>
                            </div>

                            <a href="@Url.Action("nw", "Network", new { id = network.ID })" class="btn btn-primary btn-dark enter-button">Enter</a>
                        </div>
                    </div>
                </div>

            </div>
        }
    }
    @{NetworkModel model2 = new NetworkModel(); }
    <div id="networkModal" class="modal">
        <div class="card-header bg-dark text-white" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">New network:</div>
        <div class="modal-content">
            <span id="closeNetworkModal" class="close">&times;</span>
            <form id="modalForm" asp-controller="Network" asp-action="CreateNetwork" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Network name: </span>
                    </div>
                    <input asp-for="@model2.NetworkName" id="titleField" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Description: </span>
                    </div>
                    <input asp-for="@model2.Description" id="descriptionField" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Password: </span>
                    </div>
                    <input asp-for="@model2.Password" type="password" id="passwordField" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Image: </span>
                    </div>
                    <input class="form-control" type="file" id="image" name="image" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Member limit: </span>
                    </div>
                    <input asp-for="@model2.MemberLimit" type="number" id="memberlimitField" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Visibility: </span>
                    </div>
                    <select asp-for="@model2.Visible" class="form-control" id="visibilityField">

                        <option selected value="0">Private</option>
                        <option value="1">Public</option>
                    </select>
                </div>
                <input id="closeCreate" type="submit" value="Create" class="btn btn-outline-secondary bg-dark text-white additional-buttons" />
            </form>
        </div>
    </div>
</body>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/NetworkJS.js"></script>

